table
{
width:100%;
border-collapse:collapse;
border-radius: 5px;
}
tr:hover td{ background: #FCF; } 
tr.alt:hover td{ background: #FCF; } 
th, tr, td
{
background-color:#CCCCFF;
color:black;
padding:15px;
height:50px;

} 
tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}